################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TourManagement
/TourManagement.API/bin/Debug/netcoreapp2.0
/TourManagement.API/.vscode
/TourManagement.API/obj
/TourManagement.Client/node_modules
